.CategoriesTitle {
  font-size: 2rem;
  text-align: center;
  color: var(--green);
  margin: 75px 0 75px 0;
}

.CategoriesWrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  width: 85%;
  font-weight: 600;
  margin: auto;
}
