.OrdersWrapper {
  display: flex;
  width: 85%;
  margin: 50px auto;
  min-height: 500px;
  flex-direction: column;
}

.OrderListWrapper {
  display: flex;
  padding-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 15px;
  flex-direction: column;
}

.CardWrapper {
  display: flex;
  width: 50%;
}

.ImgContainer {
  width: 20%;
}

.ImgContainer img {
  width: 85px;
  border-radius: 10px;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
}
