.CartItemCardWrapper {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 10px;
}

.ImgContainer {
  width: 20%;
  display: flex;
}

.ImgContainer img {
  width: 85px;
  border-radius: 10px;
}

.ContentContainer {
  width: 80%;
  height: 100px;
}
