.CartItemCardWrapper {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ImgContainer {
  width: 20%;
  display: flex;
}

.ImgContainer img {
  width: 85px;
  border-radius: 10px;
}

.ContentContainer {
  width: 80%;
  height: 100px;
}
