.CategoryCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CategoryCardWrapper:hover .CategoryImageContainer img {
  transform: scale(1.2);
}

.CategoryImageContainer {
  display: inline-flex;
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.CategoryImageContainer img {
  height: 80%;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
}

.CategoryNameContainer {
  padding: 20px 0;
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 400;
}
