.ListItemCardWrapper {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
}

.ListItemContentContainer {
}

.ListItemContentContainer img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.BtnsContainer {
  display: flex;
  height: 50px;
  width: 100%;
}
