.ListItemCardWrapper {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
}

.ListItemContentContainer {
  cursor: pointer;
}

.ListItemContentContainer img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.ListItemTitleContainer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ListItemTitleContainer:last-child {
  color: var(--green);
}

.BtnsContainer {
  display: flex;
  height: 50px;
  width: 100%;
}
