.ListItemCardWrapper {
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 20px;
}

.ListItemContentContainer {
}

.ListItemContentContainer img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.BtnsContainer {
  display: flex;
  height: 50px;
  width: 100%;
}
