.headerWrapper {
  height: 75px;
  display: flex;
  background-color: var(--yellow);
  justify-content: center;
}

.headerContainer {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer,
.cartContainer {
  color: var(--green);
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.logoContainer {
  width: 130px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.cartContainer {
  width: 75px;
  align-items: flex-end;
}
